
*::-webkit-scrollbar{
    display: none;
}
.navbar{
    background: black;
}
.navbar-nav .nav-link.active{
    color: white;
}
.nav-item>a:hover{
    color: rgb(199, 5, 248);
}
.navbar-toggler{
    background-color: white;
    color: white;
}
.nav-link{
    color: white;
}
.form-control{
   width: 350px; 
}
.btn .btn-outline-success{
    font-weight: 700;

}


.btn-outline-success {
    width: 80px;
    background-color: blueviolet;
    color: white;
    border: 1px solid white;
    margin: 3px;

}
.btn-outline-success:hover{
    background-color: black ;
    border: 1px solid white;
}
section{
    width: 100%;
    height: 450px;
    background-color: black;
}
.carousel-item {
    width: 100%;
    height: 450px;
}
.carousel-item img {
    width: 100%;
    padding: 5px 20px;
    height: 450px;
    z-index: 1;
}
.poster{
    background-color: black;
}
.poster img{
    width: 99%;
    padding: 40px;
}
main{
    background-color: black;
    color: white;
}
.nav-item .active:hover{
    color: rgb(199, 5, 248);
}

.cards{
    height: 60vh;
    white-space: nowrap;
    overflow-y: auto;
    padding: 20px;
}
.card{
    display: inline-block;
    background: transparent;
    border: none;
    /* width: 14rem; */
    height: 310px;
    margin: 0px 10px;
    border-radius: 15px;
    transition: 0.8s all;
    position: relative;
}
.card>img{
    border-radius: 15px;
   width: 200px;
   height: 300px;
}
.card-body{
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: 0.8s all;
}
.card-title{
    font-size: 12px ;
    color: black;
}
.btn-primary{
    border: 1px solid gray;
    background-color: white;
    color: gray;
    padding: 4px 0px;
}
.btn{
    width: 60px;
    font-size: 8px;
    font-weight: 400;
    padding:5px 6px;  
}
.btn-primary:hover{
    background-color:rgb(199, 5, 248) ;
    border: 1px solid rgb(199, 5, 248);

}
.share{
    color: darkgray;
    font-size:14px;
}
.card-body:hover{
    opacity: 1;
    transform: scale(1);
    width: 100%;
    border-radius: 12px;
  
    background-color: white;

}
.share:hover{
    color:rgb(199, 5, 248);
}


.card:hover{
    transform: scale(1.09);
   background-color: white;
   border: 5px solid white;
   border-radius: 15px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}
.title>.button{
    color:rgb(199, 5, 248) ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 0px 15px;
}
.card_tv{
    display: inline-block;
    background: transparent;
    border: none;
    /* width: 14rem; */
    height: 230px;
    margin: 0px 10px;
    border-radius: 15px;
    transition: 0.8s all;
    position: relative;
}
.card_tv>img{
    border-radius: 10px;
   width: 280px;
   height: 150px;
}
.card-body_tv{
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: 0.5s all;

}
.card-body_tv>.card-title{
    color:black;
    margin: 0px 0px 4px 5px;
}
.card_tv>h5{
    font-size: 16px;
    font-weight: 400;
}
.card_tv>h6{
    font-size: 14px;
    font-weight: 400;
}
.card_tv:hover{
    border:10px solid white

}
.card-body_tv:hover{
    opacity: 1;
    transform: scale(1);
    width: 100%;
    height: 80px;
    overflow: hidden;
    border: 12px solid white;
    background-color: white;

}
/* footer */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.cta-text .infosec{
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-decoration: none;
}
.cta-text .infosec li a{
    color: #878787;
    text-decoration: none;
    padding-left: 5px;
   
}

@media screen and (width:600px) {
    .carousel-item {
        width: 100%;
        height: 250px;
    }
    .poster img{
        width: 100%;
        height: 200px;
        padding: 1px;
    }
    .cards{
    height: 30vh;
    }
    
}





